h1.title{
    text-align: center;
    color: red;
}
a.link{
    text-decoration: none;
    
}

p{
    text-decoration: line-through red;
    
}
ul li a{
    
    font-style: italic;
    font-weight: 800;
}
ul li a:hover{
color: red;
text-decoration: overline;
}

ul li a.other2:visited{
    color: #bdc1c6;
}
ul li a.other2:link{
    color: blueviolet;
}

ul li a:active {
    text-decoration: line-through;
    color: chocolate;
}
