*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: red;
    margin: 20px auto;
    text-align: center;
}

.container{
    width: 200px;
    height: 200px;
    border: 10px solid orangered;
    transform: translateX(100px);
    /*transform: translateY(-100px);
    transform: translate(100px, 100px);*/

}
.container1{
    width: 200px;
    height: 200px;
    border: 10px solid orangered;
    transform: translateY(-100px);
    transform: translateX(100px);
    transform: translate(100px,-100px);
}
/*img{
    position: fixed;
    width: 300px;
    height: 200px;
    right:  50%;
    bottom: 50%;
    transform: translate(50%,50%);
}*/


.container2{
    width: 200px;
    height: 200px;
    
    border: 10px solid orangered;

    
    transform: rotate(45deg);
    margin: 50px auto;
}

.container3{
    width: 200px;
    height: 200px;
    transform: scale(1,3);
    border: 10px solid orangered;
    margin:50px auto;

    
}