h1{
    background-color: bisque;
color: red;
text-align: center;
padding: 10px;
}
h2.h2{
    background-color: purple;
margin-top: 20px;
}
div.box-1{
    background-color: chocolate;
margin-right: 300px;
padding-bottom:400px ;
}
p.para{
    background-color: green;
margin-bottom : 10px;
}
span.span{
    background-color: deepskyblue;
    padding: 10px;
    margin: 100px 10px;
}
body{
    background-color: lightpink;
}
*{
    margin: 0;
    padding: 0;
}

/* padding yapısı o html elemanına bağlı olarak içerisinde değişiklik yapmayısağlarken */
/* margin dış yapısı o html elemanının dış katmanı olarak görev yapar ve ona göre şekil olmayı sağlar */
